@import url("styles/header.css");
@import url("styles/time.css");
@import url("styles/login.css");
@import url("styles/styles.css");



/*variaveis CSS*/


:root{
    --laranja-principal: #FB8654;
    --verde-principal: #6FEDD6;
    --branco: #FDFDFD;
    --preto: black;
    --cor-de-fundo: #FDFDFD;
    --fonte-principal: 'League Spartan';
    --fonte-secundaria: 'Open Sans';
    --hover-laranja: #f49f7a;
    --cor-preto-light:#646464;
}

* {
    margin: 0;
    padding: 0;
}

.body{
    background-color: var(--cor-de-fundo);
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-size: 30px;
    font-weight: 700;
    
}

.corpo_principal{
    background-image: url('../assets/bolhas.png');
    background-repeat: repeat-x;
    
    
}

.principal{
    text-align: justify;
    margin-top: 35px;
}

.titulo_banho{
    font-weight: 700;
    color: var(--laranja-principal);
    padding: 0 0 0 23%;
    font-size: 4.5rem;
    font-family: var(--fonte-principal);
    margin-bottom: 10px;
}

.subtitulo_banho{
    padding: 0 0 0 24%;
    font-size: 1.75rem;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    margin-bottom: 10px;
}

.paragrafo_banho{
    padding: 0 22% 0 24%;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    margin-bottom: 45px;
}

.lista_lojas{
    padding: 0 0 0 24%;
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    list-style: none;
    margin-bottom: 40px;
    
}

.lista_separar{
    margin-bottom: 15px;
}


.lista_simples{
    font-weight: 400; 
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    
}
  
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 8px;
    border: solid var(--laranja-principal);
    top: 0;
    left: 0;
}
  

.botao_agendar{
    background-color: var(--laranja-principal);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 29%;
    text-align: center;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 20px ;
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-principal);
    margin-left:265px;
    margin-bottom: 20px;
}

.botao_agendar:hover{
    background-color:var(--hover-laranja);
}

.texto_banho{
    padding-left: 519px;
    font-size: 1rem;
    text-decoration: none;
    font-style: italic;
    color: var(--preto);
    font-family: var(--fonte-principal);
}

.imagem_banho{
    border-radius: 8%;
    width: 80%;
}

.conteudo_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5% 0% 0% 0%;
}


