.cabecalho {
    padding: 1% 0 0 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-size: 30px;
    font-weight: 700;
    
}

.cabecalho__logo {
    display: flex;
}

.cabecalho__menu{
    position: absolute;
    top: 30px;
    right: 80px;
    display: flex;              
}


.cabecalho__menu__link{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--preto);
    text-decoration: none;
    margin: 0 0 0 15px;       
}

.cabecalho__menu__link:hover{
    color: rgb(85, 85, 85);
}

.cabecalho__lupa{
    width: 23px;
    margin-left: 25px;
}

