@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');
@import url("styles/styles.css");
@import url("styles/header.css");
@import url("styles/time.css");
@import url(/assets/email.png);
@import url(/assets/senha.svg);

:root{
    --branco:#FDFDFD;
    --laranja-principal:#FB8654;
    --verde-principal:#6FEDD6;
    --cor-preto-light:#646464;
    --fonte-principal: 'League Spartan';
}

body{
    margin: 0;
    padding: 0;   

}

.corpo_login{
    height: 100vh;
    background-image: url('../assets/patinhas.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-position:bottom;
}

.cabecalho_logo{
    width: 300%;
    margin: 2px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    background-color: var(--verde-principal);
    opacity: 97%;
    border-radius: 60px 5px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 5em 5em 5em 2em;
    gap: 3em;
    margin-top: 55px;
}

.welcome_titulo{
    font-family: var(--fonte-principal);
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-preto-light); 
    text-align: center;
    margin-bottom: 5px;
    padding:40px 70px;
}

.welcome_pergunta,
.login_alternativo{
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--cor-preto-light);
    text-align: center;
}

.welcome_cadastra-se_button,
.login_entrar_button{
    display:flex;
    justify-content: center;
    background-color: var(--laranja-principal);
    color:var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 700;
    padding: 0.3em;
    width: 150px;
    margin: auto;
    border-radius: 8px; 
    margin-bottom: 20px;   
}

.welcome_cadastra-se_link{
    text-decoration: none;  
}

.login_dados{
    display:flex;
    flex-direction: column;
    gap:0.7em;
    width: 280px;
    margin: auto;
    margin-bottom: 2em;
}

.login_titulo{
    font-family: var(--fonte-principal);
    font-size: 24px;
    color: var(--cor-preto-light); 
    text-align: center;
    margin-bottom: 35px;      
}

.login_dados_email,
.login_dados_senha{
    border: 1px solid var(--verde-principal);
    border-radius: 10px;
    padding: 0.3em;
}

.login_dados_email::placeholder{
    background-image: url('../assets/email.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    text-align: center;  
}

.login_dados_senha::placeholder{
    background-image: url('../assets/senha.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left; 
    text-align: center;
}

.login_esqueceu-senha{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 14px;
    color: var(--cor-preto-light);
    text-align: right; 
}

.login_links{
    display: flex;
    justify-content: center;
    gap: 15px;
}